@page
@model IndexModel
@{
    ViewData["Title"] = "Transaction upload";
}

<div class="text-center">
    <h3>Transaction upload</h3>
    <br />
    <form method="post" enctype="multipart/form-data">
        <input type="file" asp-for="Upload" />
        <input type="submit" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @{
            if (TempData["success"] != null)
            {
                <p><b>@TempData["success"]</b></p>
            }
        }
    </form>
</div>
